@import "../../scss/variables.scss";

:host {
  display: block;
}

.header {
  &__container {
    display: flex;
    background-color: $black-200;
    padding: 0.5rem 1.5rem;

    img {
      width: 114px;
      height: 64px;
    }
  }
}
