@import "../../scss/variables.scss";

:host {
  display: block;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black-200;
    padding: 0 1.5rem;
    height: 100%;

    img {
      width: 114px;
      height: 64px;
    }
  }
}
