@import "../../shared/scss/variables.scss";

:host {
  display: flex;
  min-height: 89vh;
  justify-content: center;
  align-items: center;
  background-color: $black-100;
}

.home {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    @include full-dimension;

    &__title {
      @include creep-title;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 730px;
    min-width: 300px;

    &.gap-48 {
      gap: 48px;
    }
  }

  &__section {
    @include content-dimension;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    height: 100%;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 600px) {
      justify-content: center;
    }
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    @include full-dimension;

    ::ng-deep mat-progress-spinner circle {
      stroke: $white-100;
    }
  }

  ::ng-deep mat-paginator {
    background-color: transparent;
    color: $white-100;
    align-self: flex-end;
    height: 48px;
  }

  ::ng-deep .mat-mdc-paginator-container {
    padding: 0;
  }

  ::ng-deep .mat-mdc-paginator-icon {
    fill: $white-100;
  }

  ::ng-deep .mat-mdc-tooltip-disabled .mat-mdc-paginator-icon {
    fill: $gray-100;
  }
}
