$white-100: #ffffff;
$white-200: #fafafa;
$gray-100: #3d3d3d;
$gray-200: #a4a4a4;
$black-100: #1f1f1f;
$black-200: #0a0a0a;

$font-white: $white-200;
$font-gray: $gray-200;
$font-black: $black-200;

$font-size-title: 24px;
$font-size-subtitle: 18px;
$font-size-text: 14px;