$white-100: #ffffff;
$white-200: #fafafa;
$white-300: #e5e5e5;
$gray-100: #3d3d3d;
$gray-200: #a4a4a4;
$black-100: #1f1f1f;
$black-200: #0a0a0a;
$blue-100: #00b5cc;
$green-100: #b2df28;

$font-white: $white-200;
$font-gray: $gray-200;
$font-black: $black-200;

$font-size-title: 48px;
$font-size-title-card: 24px;
$font-size-subtitle: 18px;
$font-size-input: 16px;
$font-size-text: 14px;

$icon-size: 20px;

@mixin full-dimension {
  height: 100%;
  width: 100%;
}

@mixin creep-title {
  font-family: Creepster, sans-serif;
  color: $blue-100;
  -webkit-text-stroke: 1px $green-100;
  text-stroke: 1px $green-100;
}
