@import "../../shared/scss/variables.scss";

:host {
  display: flex;
  min-height: 89vh;
  justify-content: center;
  align-items: center;
  background-color: $black-100;
}

.favorites {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    @include full-dimension;

    &__title {
      @include creep-title;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      gap: 12px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    height: 100%;
    max-width: 730px;
    min-width: 300px;
  }

  &__section {
    @include content-dimension;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    height: 100%;

    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 600px) {
      justify-content: center;
    }
  }
}
