@import "../../scss/variables.scss";

:host {
  display: block;
}

.card-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  @include content-dimension;
}
