<div class="nav-button nav-button__container">
  <div class="nav-button__button" routerLink="home" routerLinkActive="active">
    <app-icon-text icon="fa-solid fa-house" text="Início"></app-icon-text>
  </div>
  <div
    class="nav-button__button"
    routerLink="favorites"
    routerLinkActive="active"
  >
    <app-icon-text icon="fa-solid fa-heart" text="Favoritos"></app-icon-text>
    <div class="nav-button__counter">
      <p>
        {{ favoritesCounter }}
      </p>
    </div>
  </div>
</div>
