@import "../../scss/variables.scss";

:host {
  display: block;
}

.nav-button {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    border: 1px solid $gray-100;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
  }

  &__button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: $font-gray;
    background-color: $black-200;
    transition: background-color 100ms ease, font-style 100ms ease;
    font-weight: bold;
    padding: 8px 16px;

    &:hover {
      background-color: $white-300;
      color: $black-200;
    }

    &.active {
      color: $font-black;
      background-color: $white-100;
    }
  }

  &__counter {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white-100;
    color: $font-black;
    border: 1px solid $gray-100;
  }
}
