@import "../../scss/variables.scss";

.animated-input {
  position: relative;
  width: 100%;

  input {
    width: initial;
    padding: 12px 16px;
    border: 1px solid $gray-300;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    color: $white-400;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $gray-300;
    }

    &:focus + label,
    &:valid + label {
      top: -8px;
      font-size: 12px;
      color: $gray-300;
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px $black-100 inset;
      -webkit-text-fill-color: $white-400 !important;
    }
    
    &:-webkit-autofill:focus {
      box-shadow: 0 0 0px 1000px $black-100 inset;
      -webkit-text-fill-color: $white-400 !important;
    }
  }

  label {
    position: absolute;
    top: 30%;
    left: 16px;
    transform: translateY(-10%);
    background-color: $black-100;
    padding: 0 2px;
    color: $gray-200;
    font-size: $font-size-input;
    pointer-events: none;
    transition: all 0.3s ease;

    &.active {
      top: -8px;
      font-size: $font-size-text;
      color: $gray-300;
      background-color: $black-100;
    }
  }
}
