@import "./app/shared/scss/variables.scss";

* {
  font-family: Poppins, sans-serif;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: $font-size-text;
}

h1 {
  font-size: $font-size-title;
}

h2 {
  color: $white-200;
  font-size: $font-size-title-card;
}

h3 {
  color: $gray-200;
  font-size: $font-size-subtitle;
}

h2,
h3 {
  line-height: 1;
}

body {
  margin: 0;
  overflow: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}